
.test {
    border: 5px solid red;
}

body, html {
    margin: 0;
    padding: 0;
}


#main-body {


    /*height: 100%;*/
    /*width: auto;*/
    /*background-image: url("../images/landing-main.jpg") no-repeat center center fixed; */
    /*margin-left: -20px;*/
    /*margin-right: -20px;*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
}



    #main-body img {

        margin-left: -40px;
        height: 700px;
        width: 110%;
    }



 #logo {

    position: absolute;
     color: white;
 }


 #login-box {
     position: absolute;
     top: 150px;
     right: 200px;



     background: rgba(0,0,0,0.3);
     padding: 10px 35px 35px;
     margin-top: 20px;
     margin-bottom: 10px;
     text-shadow: none;


 }

    #login-box input {
        margin-top: 10px;
        margin-bottom: 10px;
    }


 #signup-btn {
     text-align: center;
 }


 .account {
    position: relative;
     top: -30px;
     left: 150px;
 }
