<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">-->

    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/lib/components-font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <!-- endbower -->



    <!--font awesome-->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Per documentation respond.js must be placed in the head -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>


    <!--custom css-->


    <!-- inject:css -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/test-main.css">
    <!-- endinject -->

    <!--<link rel="stylesheet" href="../css/main.css">-->

    <meta charset="UTF-8">
    <title><%=title%></title>
</head>
<body>


<div class="container-fluid">


    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"></div>

    <div id="main-body">


        <div id="logo">


            <h2>NEXT<i class="fa fa-arrow-right" aria-hidden="true"></i>
            </h2>


        </div>

        <!--<img src="images/landing-main.jpg" alt="">-->



        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-6 col-md-offset-6 col-sm-offset-4">

            <div id="login-box" class="">

                <form action="">

                    <input type="text" class="form-control" placeholder="E-mail" size="42">
                    <input type="text" class="form-control" placeholder="Password" size="42">
                    <br>

                    <br>



                    <button type="button"  id="login-btn" class="btn btn-success btn-lg input-group">Sign In</button>

                    <!--<a href="#" class="account">Already have an account?</a>-->



                </form>

            </div>  <!--end loginbox-->

        </div>  <!-- /end column-->
    </div>

</div>






</div> <!-- /end container fluid -->






<!--<!— javascript Placed at bottom of body—>-->
<!--<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>-->
<!--<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>-->

<!--&lt;!&ndash; Latest compiled and minified JavaScript &ndash;&gt;-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>-->


<!-- bower:js -->
<script src="/lib/jquery/dist/jquery.js"></script>
<script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
<!-- endbower -->

</body>
</html>